<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PreciousLV</title>
    <th:block th:include="Layout :: link-css-logo"></th:block>
</head>
<body>
    <th:block th:replace="Layout :: loading"></th:block>
    <div class="header">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class=" col-md-2 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="/"><img src="/css/layout/images/logo.png" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/nhansu">Nhân sự</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/chamcong">Công</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/lichlam">Lịch làm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2">
                    <ul class="email text_align_right">
                        <li class="d_none"><a href="/account"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li class="d_none"> <a href="/logout"><i class="fa fa-sign-out" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- begin coding -->
    <div class="full_bg">
        <div class="slider_main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- carousel code -->
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- first slide -->
                                <div class="carousel-item active">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div  class="col-md-5">
                                                <div class="board">
                                                    <i><img src="images/top_icon.png" alt="#"/></i>
                                                    <h3>
                                                        NGUYEN<br> CONG<br> QUY
                                                    </h3>
                                                    <div class="link_btn">
                                                        <a class="read_more" target="_blank" href="https://www.facebook.com/profile.php?id=100072603927239">Read More   <span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="banner_img">
                                                    <figure><img class="img_responsive" src="/images/"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- second slide -->
                                <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div  class="col-md-5">
                                                <div class="board">
                                                    <i><img src="images/top_icon.png" alt="#"/></i>
                                                    <h3>
                                                        NGUYEN<br> HONG<br> VI
                                                    </h3>
                                                    <div class="link_btn">
                                                        <a class="read_more" target="_blank" href="https://www.facebook.com/nguyen.hongvi.395">Read More   <span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="banner_img">
                                                    <figure><img class="img_responsive" src="/images/"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- controls -->
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end coding -->
    <th:block th:replace="Layout :: footer"></th:block>
    <th:block th:replace="Layout :: script"></th:block>
</body>
</html>
